{% extends 'main_app/base/base.html' %}
{% load static %}

{% block title %}Digital Forensic Page{% endblock %}
{% block site_css %}
{% endblock %}

{% block main_heading %}
    Ethical Hacking Web Application
{% endblock %}

{% block body %}
    <!-- Digital Forensics Section -->
    <div id="digital-forensic">
        <h1>What is digital forensics?</h1>
        <p>Digital forensics is the process of collecting and analyzing digital evidence in a way that maintains its integrity and admissibility in court.</p>
        <p>Digital forensics is a field of forensic science. It is used to investigate cybercrimes but can also help with criminal and civil investigations. For instance, cybersecurity teams may use digital forensics to identify the cybercriminals behind a malware attack, while law enforcement agencies may use it to analyze data from the devices of a murder suspect.</p>
        <p>Digital forensics has broad applications because it treats digital evidence like any other form of evidence. Just as officials use specific processes to gather physical evidence from a crime scene, digital forensics investigators follow a strict forensics process (also known as a chain of custody) when handling digital evidence to avoid tampering.</p>
        <p>Digital forensics and computer forensics are often referred to interchangeably. However, digital forensics technically involves gathering evidence from any digital device, whereas computer forensics involves gathering evidence specifically from computing devices, such as computers, tablets, mobile phones and devices with a CPU.</p>
        <p>Digital forensics and incident response (DFIR) is an emerging cybersecurity discipline that integrates computer forensics and incident response activities to accelerate the remediation of cyber threats while ensuring that any related digital evidence is not compromised.</p>
    </div>
{% endblock %}

{% block script_js %}
{% endblock %}