{% extends 'main_app/base/base.html' %}

{% load static %}

{% block title %}Volatility Memory Analysis{% endblock %}

{% block site_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'active_recon/styles/active_recon.css' %}">
    <link rel="stylesheet" href="{% static 'passive_recon/styles/passive_recon.css' %}">
{% endblock %}

{% block main_heading %}
    Volatility Memory Analysis
{% endblock %}

{% block body %}
    <section>
        <h2>Upload Memory Dump</h2>
        <div class="container">
            <form id="memory-dump-form" name="memory-dump-form" method="POST" enctype="multipart/form-data" class="row align-items-center">
                {% csrf_token %}
                <div class="col-auto">
                    <label for="memory-dump" class="visually-hidden">Memory Dump</label>
                    <input type="file" class="form-control" name="memory-dump" id="memory-dump" required>
                </div>
                <div class="col-auto">
                    <label for="plugin-select" class="visually-hidden">Select Plugin</label>
                    <select class="form-control" name="plugin" id="plugin-select" required>
                        <option value="windows.info.Info">Windows Info</option>
                        <option value="windows.pslist.PsList">Windows Pslist</option>
                        <option value="windows.pstree.PsTree">Windows Pstree</option>
                        <option value="windows.psscan.PsScan">Windows PsScan</option>
                        <option value="windows.cmdline.CmdLine">Windows CmdLine</option>
                        <option value="windows.dlllist.DllList">Windows DllList</option>
                        <option value="windows.driverscan.DriverScan">Windows DriverScan</option>
                        <option value="windows.filescan.FileScan">Windows FileScan</option>
                        <option value="windows.netscan.NetScan">Windows NetScan</option>
                        <option value="windows.privileges.Privs">Windows Privs</option>
                        <option value="windows.psxview.PsXView">Windows PsXView</option>
                        <option value="windows.malfind.Malfind">Windows Malfind</option>
                        <option value="windows.getsids.GetSIDs">Windows GetSIDs</option>
                        <option value="windows.registry.hivelist.HiveList">Windows Registry HiveList</option>
                        <option value="windows.registry.userassist.UserAssist">Windows Registry UserAssist</option>
                        <option value="windows.registry.printkey">Windows Registry PrintKey</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button id="upload-button" type="submit" class="btn btn-primary">Upload and Analyze</button>
                </div>
            </form>
            <div class="col-auto mt-3">
                <p id="plugin-description" class="border p-3 rounded"></p>
            </div>
        </div>
    </section>

    <section class="hidden progress-section" id="progress-section">
        <div class="container">
            <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
                    <span class="progress-bar-text">It could take minutes to process. Please be patient...</span>
                </div>
            </div>
        </div>
    </section>

    <section class="hidden" id="output-section">
        <div class="container">
            <div class="row align-items-center mb-3">
                <div class="col-auto">
                    <h2 class="mb-0">Analysis Result</h2>
                </div>
                <div class="col-auto">
                    <button id="download-button" class="btn btn-success">Download</button>
                </div>
                <div class="col-auto">
                    <button id="save-report-button" class="btn btn-success">Save Report</button>
                </div>
            </div>
            <div class="col-auto">
                <input type="text" id="filter-input" class="form-control" placeholder="Filter results">
            </div>
            <blockquote class="blockquote p-3 border border-primary rounded">
                <pre id="analysis-result"></pre>
            </blockquote>
        </div>
    </section>
{% endblock %}

{% block script_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>

    {% include 'report/includes/report-name.html' %}

    <script>
        $(document).ready(function() {
            // select download button
            let downloadButton = $('#download-button');

            // select save report button
            let saveReportButton = $('#save-report-button');

            // get the passive tool name from backend
            let digitalToolName = `digital_forensic_{{ digital_tool.name }}`;

            // generate report pdf file name
            let pdfReportFileName = generateReportName(digitalToolName)

            // handle for download button
            downloadButton.on('click', function() {
                let content = document.getElementById('analysis-result').innerText;

                let docDefinition = {
                    content: [
                        { text: 'Volatility Memory Analysis Result', style: 'header' },
                        { text: content, style: 'body' },
                    ],
                    styles: {
                        header: { fontSize: 18, bold: true, margin: [0, 0, 0, 10] },
                        body: { fontSize: 12, margin: [0, 0, 0, 10] },
                    }
                };

                // Create and download the PDF
                pdfMake.createPdf(docDefinition).download(`${pdfReportFileName}`);
            });

            // generate pop-up
            let successPopUp = new Popup({
                id: `${pdfReportFileName}`,
                title: "Report Saved Successfully",
                content: `A file with name <strong>${pdfReportFileName}.pdf</strong> was generated successfully.`,
            });


            // handle save repport button
            saveReportButton.on('click', function() {
                let element = document.getElementById('analysis-result');
                let content = element.innerText;

                let docDefinition = {
                    content: [
                        { text: 'Volatility Memory Analysis Result', style: 'header' },
                        { text: content, style: 'body' },
                    ],
                    styles: {
                        header: { fontSize: 18, bold: true, margin: [0, 0, 0, 10] },
                        body: { fontSize: 12, margin: [0, 0, 0, 10] },
                    },
                    pageMargins: [15, 15, 15, 15] // Set margins
                };
                
                pdfMake.createPdf(docDefinition).getBlob(function(pdfBlob) {
                    let formData = new FormData();
                    formData.append('pdf', pdfBlob, `${pdfReportFileName}.pdf`);
                    formData.append('csrfmiddlewaretoken', document.querySelector('input[name=csrfmiddlewaretoken]').value);

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'save-report' %}",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response, textStatus, jqXHR) {
                            if (jqXHR.status === 200) {
                                successPopUp.show();
                            } else {
                                alert('Error saving PDF file');
                            }
                        },
                        error: function(error) {
                            console.log('Error during saving report: ', error);
                            alert('An error occurred while saving the report. Please try again.');
                        }
                    });
                });
            }); // end save button


            $('#memory-dump-form').on('submit', function(event) {
                event.preventDefault();

                let formData = new FormData(this);
                let outputSection = $('#output-section');
                let analysisResult = $('#analysis-result');

                let progressSection = $('#progress-section');
                let uploadButton = $('#upload-button');

                outputSection.hide();
                uploadButton.prop('disabled', true);
                progressSection.show();

                $.ajax({
                    type: 'POST',
                    url: "{% url 'digital-forensic-tools' digital_tool.slug %}",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        if (response.result) {
                            analysisResult.text(response.result);
                        } else {
                            console.log(response.error)
                        }
                        
                        progressSection.hide();
                        outputSection.show();
                        uploadButton.prop('disabled', false);
                    },
                    error: function(error) {
                        console.error('Error during analysis:', error);
                        analysisResult.text('An error occurred during the analysis. Please try again.');
                        
                        progressSection.hide();
                        outputSection.show();
                        uploadButton.prop('disabled', false);
                    }
                });
            }); // end function

            // handle filter input event
            $('#filter-input').on('input', function() {
                let filterText = $(this).val().toLowerCase();
                let analysisResult = $('#analysis-result').data('originalContent') || $('#analysis-result').text();
                
                if (!$('#analysis-result').data('originalContent')) {
                    $('#analysis-result').data('originalContent', analysisResult);
                }
                
                let filteredResult = '';

                if (filterText) {
                    let lines = analysisResult.split('\n');
                    filteredResult = lines.filter(line => line.toLowerCase().includes(filterText)).join('\n');
                } else {
                    filteredResult = analysisResult;
                }

                $('#analysis-result').text(filteredResult);
            });

            // handle update plugin description
            const pluginDescriptions = {
                "windows.info.Info": "Displays general information about the memory image.",
                "windows.pslist.PsList": "Lists the processes in memory.",
                "windows.pstree.PsTree": "Displays a tree of processes in memory.",
                "windows.psscan.PsScan": "Scans for process objects in memory.",
                "windows.cmdline.CmdLine": "Shows the command line arguments for processes.",
                "windows.dlllist.DllList": "Lists loaded DLLs for each process.",
                "windows.driverscan.DriverScan": "Scans for drivers in memory.",
                "windows.filescan.FileScan": "Scans for file objects in memory.",
                "windows.netscan.NetScan": "Scans for network connections.",
                "windows.privileges.Privs": "Lists privileges for processes.",
                "windows.psxview.PsXView": "Shows processes from multiple views.",
                "windows.malfind.Malfind": "Finds injected code and hooks in memory.",
                "windows.getsids.GetSIDs": "Lists SIDs for processes.",
                "windows.registry.hivelist.HiveList": "Lists registry hives in memory.",
                "windows.registry.userassist.UserAssist": "Shows UserAssist registry keys.",
                "windows.registry.printkey": "Prints registry keys and values. Use this to explore registry keys like 'Software\\Microsoft\\Windows\\CurrentVersion'."
            };

            const pluginSelect = document.getElementById('plugin-select');
            const pluginDescription = document.getElementById('plugin-description');

            function updateDescription() {
                const selectedPlugin = pluginSelect.value;
                pluginDescription.textContent = pluginDescriptions[selectedPlugin] || "Select a plugin to see its description.";
            }

            pluginSelect.addEventListener('change', updateDescription);

            // Initialize the description on page load
            updateDescription();
        });
    </script>
{% endblock %}
