{% extends 'main_app/base/base.html' %}

{% load static %}

{% block title %}Main Page{% endblock %}
{% block site_css %}
    <link rel="stylesheet" href="{% static 'main_app/styles/main_app.css' %}">
{% endblock %}

{% block main_heading %}
    Ethical Hacking Web Application
{% endblock %}

{% block body %}
    <!-- Home Section -->
    <div id="home" class="section active">
        <h1>Welcome to the Ethical Hacking Web Application</h1>
        <p>This website is a comprehensive guide to some of the most widely used tools in cybersecurity, including tools for reconnaissance, exploitation, and post-exploitation phases.</p>
        <h2>How to Use These Tools</h2>
        <p>Each tool listed under the respective categories is designed for security professionals and researchers to test the security of networks and systems. Click on the categories in the navigation menu to explore relevant tools.</p>
        <h2>Warning: Ethical Usage Only</h2>
        <p><strong>Important Notice:</strong> The tools mentioned on this website should be used for legal and ethical purposes only. Unauthorized access to networks, systems, or data is illegal and unethical. Always ensure you have proper authorization before testing any systems. Misuse of these tools can result in legal consequences.</p>
    </div>

    <!-- Cover Tracks Section -->
    <div id="cover-tracks" class="section" style="display:none;">
        <h1>Cover Tracks</h1>
        <p>Covering tracks is essential for hiding traces of an attack.</p>
    </div>
{% endblock %}

{% block script_js %}
    <script src="{% static 'main_app/scripts/main_app.js' %}"></script>
{% endblock %}