{% extends 'main_app/base/base.html' %}

{% load static %}

{% block title %}NMAP Tool Page{% endblock %}
{% block site_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'active_recon/styles/active_recon.css' %}">
    <link rel="stylesheet" href="{% static 'active_recon/styles/nmap.css' %}">
{% endblock %}

{% block main_heading %}
    Nmap
{% endblock %}

{% block body %}
    <section>
        <h2>Target</h2>
        <div class="container">
            <form id="scan-form" name="scan-form" method="POST" class="row align-items-center">
                {% csrf_token %}
                <div class="col-auto">
                    <label for="domain" class="visually-hidden">Domain</label>
                    <input type="text" class="form-control" name="domain" id="domain" placeholder="IP" required>
                </div>
                <div class="col-auto">
                    <label for="scan-type" class="visually-hidden">Scan Type</label>
                    <select name="scan-type" id="scan-type" class="form-control" required>
                        <option value="" disabled selected>Select Scan Type</option>
                        {% for nmap_scan_item in nmap_scan_types %}
                            <option value="{{ nmap_scan_item.value }}">{{ nmap_scan_item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <button id="scan-button" type="submit" class="btn btn-primary">Scan</button>
                </div>
            </form>
        </div>
    </section>

    <section class="hidden progress-section" id="progress-section">
        <div class="container">
            <!-- <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
            </div> -->

            <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
                    <span class="progress-bar-text">It could take minutes to process. Please be patient...</span>
                </div>
            </div>
        </div>
    </section>

    <section class="hidden" id="output-section">
        <div class="container">
            <div class="row align-items-center mb-3">
                <div class="col-auto">
                    <h2 class="mb-0">Output Result</h2>
                </div>
                <div class="col-auto">
                    <button id="download-csv" class="btn btn-secondary">Download CSV</button>
                    <button id="download-json" class="btn btn-secondary">Download JSON</button>
                    <button id="download-xlsx" class="btn btn-secondary">Download XLSX</button>
                    <button id="download-pdf" class="btn btn-secondary">Download PDF</button>
                </div>
            </div>
            <blockquote class="blockquote p-3 border border-primary rounded">
                <div id="scanning-result"></div>
            </blockquote>
        </div>
    </section>
{% endblock %}

{% block script_js %}
    <script src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            let table;
            
            function createNmapPortScanResult(data) {
                table = new Tabulator("#scanning-result", {
                    height: 400, // Set height of table
                    data: data, // Assign data to Tabulator
                    layout: "fitColumns", // Fit columns to width of table
                    theme: "bootstrap4",
                    columns: [
                        { title: "Port ID", field: "portid", width: 150 },
                        { title: "Protocol", field: "protocol", width: 150 },
                        { title: "State", field: "state", width: 150 },
                        { title: "Reason", field: "reason", width: 150 },
                        { title: "Service", field: "service", width: 150 },
                    ],
                    responsiveLayout:"hide",  //hide columns that don't fit on the table
                    addRowPos:"top",          //when adding a new row, add it to the top of the table
                    history:true,             //allow undo and redo actions on the table
                    movableColumns:true,      //allow column order to be changed
                    columnDefaults:{
                        tooltip:true,         //show tool tips on cells
                    },
                });
            }

             // Download buttons
            $('#download-csv').on('click', function() {
                table.download("csv", "scanning-result.csv");
            });

            $('#download-json').on('click', function() {
                table.download("json", "scanning-result.json");
            });

            $('#download-xlsx').on('click', function() {
                table.download("xlsx", "scanning-result.xlsx", {sheetName:"My Data"});
            });

            $('#download-pdf').on('click', function() {
                table.download("pdf", "scanning-result.pdf", {
                    orientation:"portrait",
                    title:"Scanning Result",
                });
            });

            $('#scan-form').on('submit', function(event) {
                event.preventDefault();

                // select result section
                let outputSection = $('#output-section');
                let scanningResult = $('#scanning-result');

                // hide output section
                outputSection.hide();

                // select scan button
                let scanButton = $('#scan-button');
                scanButton.prop('disabled', true);

                // select progress
                let progressSection = $('#progress-section');
                progressSection.show();

                // select scan type value
                let scanTypeValue = $('#scan-type').val();

                let data = {
                    'scan-type': scanTypeValue,
                    'domain': $('#domain').val(),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                };

                $.ajax({
                    type: 'POST',
                    url: "{% url 'active-recon-tools' active_tool.slug %}",
                    data: data,
                    success: function(response) {
                        if (response.error_message) {
                            scanningResult.text(response.error_message);
                        } else {
                            // console.log(response.scanning_result.ports)
                            if(scanTypeValue === response.scan_type) {
                                createNmapPortScanResult(response.scanning_result.ports);
                            } 
                        }
                        
                        progressSection.hide();
                        outputSection.show();
                        scanButton.prop('disabled', false);
                    },
                    error: function(error) {
                        // log error in console
                        console.log('Error during scan: ', error);
                        scanningResult.text('An error occurred during the scan. Please try again.');

                        progressSection.hide();
                        outputSection.show();
                        scanButton.prop('disabled', false);
                    }
                });
            });
        });
    </script>
{% endblock %}