{% extends 'main_app/base/base.html' %}

{% load static %}

{% block title %}NMAP Tool Page{% endblock %}
{% block site_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'active_recon/styles/active_recon.css' %}">
    <link rel="stylesheet" href="{% static 'active_recon/styles/nmap.css' %}">
{% endblock %}

{% block main_heading %}
    Nmap
{% endblock %}

{% block body %}
    <section>
        <h2>Target</h2>
        <div class="container">
            <form id="scan-form" name="scan-form" method="POST" class="row align-items-center">
                {% csrf_token %}
                <div class="col-auto">
                    <label for="domain" class="visually-hidden">Domain</label>
                    <input type="text" class="form-control" name="domain" id="domain" placeholder="IP" required>
                </div>
                <div class="col-auto">
                    <label for="scan-type" class="visually-hidden">Scan Type</label>
                    <select name="scan-type" id="scan-type" class="form-control" required>
                        <option value="" disabled selected>Select Scan Type</option>
                        {% for nmap_scan_item in nmap_scan_types %}
                            <option value="{{ nmap_scan_item.value }}">{{ nmap_scan_item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-auto">
                    <button id="scan-button" type="submit" class="btn btn-primary">Scan</button>
                </div>
            </form>
        </div>
    </section>

    <section class="hidden progress-section" id="progress-section">
        <div class="container">
            <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
                    <span class="progress-bar-text">It could take minutes to process. Please be patient...</span>
                </div>
            </div>
        </div>
    </section>

    <section class="hidden" id="output-section">
        <div class="container">
            <div class="row align-items-center mb-3">
                <div class="col-auto">
                    <h2 class="mb-0">Output Result</h2>
                </div>
                <div class="col-auto">
                    <button id="download-csv" class="btn btn-secondary">Download CSV</button>
                    <button id="download-json" class="btn btn-secondary">Download JSON</button>
                    <button id="download-xlsx" class="btn btn-secondary">Download XLSX</button>
                    <button id="download-pdf" class="btn btn-secondary">Download PDF</button>
                </div>
            </div>
            <blockquote class="blockquote p-3 border border-primary rounded">
                <div id="scanning-result"></div>
            </blockquote>
        </div>
    </section>
{% endblock %}

{% block script_js %}
    <script src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>

    {% include 'active_recon/includes/nmap-top-port-scan-result-table.html' %}
    {% include 'active_recon/includes/nmap-version-detection-scan-result-table.html' %}

    <script type="text/javascript">
        $(document).ready(function() {
            // handle form section
            $('#scan-form').on('submit', function(event) {
                event.preventDefault();

                // select result section
                let outputSection = $('#output-section');
                let scanningResult = $('#scanning-result');

                // hide output section
                outputSection.hide();

                // select scan button
                let scanButton = $('#scan-button');
                scanButton.prop('disabled', true);

                // select progress
                let progressSection = $('#progress-section');
                progressSection.show();

                // select scan type value
                let scanTypeValue = $('#scan-type').val();

                let data = {
                    'scan-type': scanTypeValue,
                    'domain': $('#domain').val(),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                };

                $.ajax({
                    type: 'POST',
                    url: "{% url 'active-recon-tools' active_tool.slug %}",
                    data: data,
                    success: function(response) {
                        if (response.error_message) {
                            scanningResult.text(response.error_message);
                        } else {
                            // showing log 
                            // console.log(response.scanning_result)
                            if(scanTypeValue === response.scan_type) {
                                let nmaptable;

                                if (response.scan_type == 'top_ports_scan') {
                                    nmaptable = createNmapPortScanResult(response.scanning_result.ports);
                                } else if(response.scan_type == 'version_detection_scan') {
                                    nmaptable = createNmapVersionDetectionResult(response.scanning_result.ports);
                                }

                                // download button section
                                $('#download-csv').on('click', function() {
                                    nmaptable.download("csv", "scanning-result.csv");
                                });

                                $('#download-json').on('click', function() {
                                    nmaptable.download("json", "scanning-result.json");
                                });

                                $('#download-xlsx').on('click', function() {
                                    nmaptable.download("xlsx", "scanning-result.xlsx", {sheetName:"My Data"});
                                });

                                $('#download-pdf').on('click', function() {
                                    nmaptable.download("pdf", "scanning-result.pdf", {
                                        orientation:"portrait",
                                        title:"Scanning Result",
                                    });
                                });
                            }
                        }
                        
                        progressSection.hide();
                        outputSection.show();
                        scanButton.prop('disabled', false);
                    },
                    error: function(error) {
                        // log error in console
                        console.log('Error during scan: ', error);
                        scanningResult.text('An error occurred during the scan. Please try again.');

                        progressSection.hide();
                        outputSection.show();
                        scanButton.prop('disabled', false);
                    }
                });
            });
        });
    </script>
{% endblock %}