{% extends 'main_app/base/base.html' %}

{% load static %}

{% block title %}Email Finder Tool Page{% endblock %}
{% block site_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'passive_recon/styles/passive_recon.css' %}">
    <link rel="stylesheet" href="{% static 'enumeration/styles/enumeration.css' %}">
    <link rel="stylesheet" href="{% static 'enumeration/styles/emailfinder.css' %}">
{% endblock %}

{% block main_heading %}
    Enumeration with Email Finder of Hunter.IO
{% endblock %}

{% block body %}
    <section>
        <h2>Target</h2>
        <div class="container">
            <form id="scan-form" name="scan-form" method="POST" class="row align-items-center">
                {% csrf_token %}
                <div class="col-auto">
                    <label for="domain" class="visually-hidden">Domain</label>
                    <input type="text" class="form-control" name="domain" id="domain" placeholder="domain" required>
                </div>
                <div class="col-auto">
                    <button id="scan-button" type="submit" class="btn btn-primary">Scan</button>
                </div>
            </form>
        </div>
    </section>

    <section class="hidden progress-section" id="progress-section">
        <div class="container">
            <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
                    <span class="progress-bar-text">It could take minutes to process. Please be patient...</span>
                </div>
            </div>
        </div>
    </section>

    <section class="hidden" id="output-section">
        <div class="container">
            <div class="row align-items-center mb-3">
                <div class="col-auto">
                    <h2 class="mb-0">Output Result</h2>
                </div>
            </div>
            <div class="col-auto">
                <button id="download-csv" class="btn btn-secondary">Download CSV</button>
                <button id="download-json" class="btn btn-secondary">Download JSON</button>
                <button id="download-xlsx" class="btn btn-secondary">Download XLSX</button>
            </div>
            <blockquote class="blockquote p-3 border border-primary rounded">
                <pre id="scanning-result"></pre>
                <div id="email-finder-table"></div>
            </blockquote>
        </div>
    </section>
{% endblock %}

{% block script_js %}
    <script src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>

    {% include 'enumeration/includes/email-finder-table.html' %}

    <script>
        $(document).ready(function() {
            // Handle form submission
            $('#scan-form').on('submit', function(event) {
                event.preventDefault();

                // Select result section
                let outputSection = $('#output-section');
                let scanningResult = $('#scanning-result');

                let emailFinderTable = $('#email-finder-table');
                
                // Hide table
                emailFinderTable.hide();

                // Hide output section initially
                outputSection.hide();

                // Select scan button and disable it
                let scanButton = $('#scan-button');
                scanButton.prop('disabled', true);

                // Show progress section
                let progressSection = $('#progress-section');
                progressSection.show();

                // Prepare data for the request
                let data = {
                    'domain': $('#domain').val(),
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                };

                $.ajax({
                    type: 'POST',
                    url: "{% url 'enumeration-tools' enumeration_tool.slug %}",
                    data: data,
                    success: function(response) {
                        if (response.error_message) {
                            scanningResult.text(response.error_message);
                        } else {
                            // console.log(JSON.stringify(response.scanning_result))
                            const data = response.scanning_result;
                            
                            let records = transformDataForTabulator(data);

                            let table = initializeEmailTable(records);
                            
                            // show table
                            emailFinderTable.show();

                            // download button section
                            $('#download-csv').on('click', function() {
                                table.download("csv", "email-scanning-result.csv");
                            });

                            $('#download-json').on('click', function() {
                                table.download("json", "email-scanning-result.json");
                            });

                            $('#download-xlsx').on('click', function() {
                                table.download("xlsx", "email-scanning-result.xlsx", {sheetName:"My Data"});
                            });
                        }

                        // Hide progress and show output section
                        progressSection.hide();
                        outputSection.show();
                        scanButton.prop('disabled', false);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // Log error in console and display message
                        console.log('AJAX Error:', textStatus, errorThrown);
                        scanningResult.text(`An error occurred: ${errorThrown} during the scan.`);

                        // Hide progress and show output section
                        progressSection.hide();
                        outputSection.show();
                        scanButton.prop('disabled', false);
                    }
                });
            });
        });
    </script>
{% endblock %}