{% extends 'main_app/base/base.html' %}
{% load static %}

{% block title %}Enumeration Page{% endblock %}
{% block site_css %}
{% endblock %}

{% block main_heading %}
    Enumeration
{% endblock %}

{% block body %}
    <!-- Enumeration Section -->
    <div id="enumeration">
        <h1>What Is Enumeration in Ethical Hacking?</h1>
        <p>Enumeration is extracting a system’s valid usernames, machine names, share names, directory names, and other information. It is a key component of ethical hacking and penetration testing, as it can provide attackers with a wealth of information that can be used to exploit vulnerabilities. It can also be defined as collecting detailed information about the target systems, such as operating and network infrastructure details. Enumeration can be used in both an offensive and defensive manner.</p>
        <p>Enumeration is one of the most important steps in ethical hacking because it gives hackers the necessary information to launch an attack. For example, hackers who want to crack passwords need to know the usernames of valid users on that system. Enumerating the target system can extract this information (CrashTestSecurity.com, 2022)</p>
    </div>
{% endblock %}

{% block script_js %}
{% endblock %}