{% extends 'main_app/base/base.html' %}

{% load static %}

{% block title %}Subdomain Tool Page{% endblock %}
{% block site_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'passive_recon/styles/passive_recon.css' %}">
    <link rel="stylesheet" href="{% static 'enumeration/styles/enumeration.css' %}">
    <link rel="stylesheet" href="{% static 'enumeration/styles/subdomain.css' %}">
{% endblock %}

{% block main_heading %}
    Ethical Hacking Web Application
{% endblock %}

{% block body %}
    <section>
        <h2>Target</h2>
        <div class="container">
            <form id="scan-form" name="scan-form" method="POST" class="row align-items-center">
                {% csrf_token %}
                <div class="col-auto">
                    <label for="domain" class="visually-hidden">Domain</label>
                    <input type="text" class="form-control" name="domain" id="domain" placeholder="domain" required>
                </div>
                <div class="col-auto">
                    <button id="scan-button" type="submit" class="btn btn-primary">Scan</button>
                </div>
            </form>
        </div>
    </section>

    <section class="hidden progress-section" id="progress-section">
        <div class="container">
            <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%">
                    <span class="progress-bar-text">It could take minutes to process. Please be patient...</span>
                </div>
            </div>
        </div>
    </section>

    <section class="hidden" id="output-section">
        <div class="container">
            <div class="row align-items-center mb-3">
                <div class="col-auto">
                    <h2 class="mb-0">Output Result</h2>
                </div>
            </div>
            <div class="col-auto">
                <button id="download-csv" class="btn btn-secondary">Download CSV</button>
                <button id="download-json" class="btn btn-secondary">Download JSON</button>
                <button id="download-xlsx" class="btn btn-secondary">Download XLSX</button>
                <button id="download-pdf" class="btn btn-secondary">Download PDF</button>
                <button id="save-report-button" class="btn btn-success">Save Report</button>
            </div>
            <blockquote class="blockquote p-3 border border-primary rounded">
                <pre id="scanning-result"></pre>
                <div id="subdomain-table"></div>
            </blockquote>
        </div>
    </section>
{% endblock %}

{% block script_js %}
    <script src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>

    <script>
        // Variable to track if the save report button was clicked
        let isSaveReportButtonClicked = false;
    </script>

    {% include 'enumeration/includes/subdomain-table.html' %}
    {% include 'enumeration/includes/save-report-table.html' %}

    <script>
        $(document).ready(function() {
            // Handle form submission
            $('#scan-form').on('submit', function(event) {
                event.preventDefault();

                // Select result section
                let outputSection = $('#output-section');
                let scanningResult = $('#scanning-result');

                let subdomainTable = $('#subdomain-table');
                
                // Hide table
                subdomainTable.hide();

                // Hide output section initially
                outputSection.hide();

                // Select scan button and disable it
                let scanButton = $('#scan-button');
                scanButton.prop('disabled', true);

                // Show progress section
                let progressSection = $('#progress-section');
                progressSection.show();

                // value of input domain
                let inputDomainValue = $('#domain').val();

                // Prepare data for the request
                let data = {
                    'domain': inputDomainValue,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                };

                $.ajax({
                    type: 'POST',
                    url: "{% url 'enumeration-tools' enumeration_tool.slug %}",
                    data: data,
                    success: function(response) {
                        if (response.error_message) {
                            scanningResult.text(response.error_message);
                        } else {
                            const data = response.scanning_result;
                            
                            // define table
                            let table = initializeTable(data);
                            
                            // get the enumeration tool name from backend
                            let enumerationToolName = "enumeration_{{ enumeration_tool.name }}";

                            // generate report pdf file name
                            let pdfReportFileName = generateReportName(enumerationToolName);

                            // show table
                            subdomainTable.show();

                            // download button section
                            $('#download-csv').on('click', function() {
                                table.download("csv", `${pdfReportFileName}.csv`);
                            });

                            $('#download-json').on('click', function() {
                                table.download("json", `${pdfReportFileName}.json`);
                            });

                            $('#download-xlsx').on('click', function() {
                                table.download("xlsx", `${pdfReportFileName}.xlsx`, {sheetName:"My Data"});
                            });

                            $('#download-pdf').on('click', function() {
                                table.download("pdf", `${pdfReportFileName}.pdf`, {
                                    orientation:"portrait",
                                    title:`Target Domain: ${inputDomainValue}`,
                                });
                            });

                            // SAVE REPORT SECTION
                            let saveReportButton = $('#save-report-button');

                            // handle save repport button
                            saveReportButton.on('click', function() {
                                // Set the flag to true when the button is clicked
                                isSaveReportButtonClicked = true;

                                // Use download to trigger the PDF download
                                table.download("pdf", `${pdfReportFileName}.pdf`, {
                                    orientation:"landscape",
                                    title:`Target Domain: ${inputDomainValue}`,
                                });

                                // Optionally, reset the flag after the download process starts
                                setTimeout(() => {
                                    isSaveReportButtonClicked = false; // Reset after a delay (if needed)
                                }, 1000); // Adjust the delay as necessary
                            }); // end save button
                        }

                        // Hide progress and show output section
                        progressSection.hide();
                        outputSection.show();
                        scanButton.prop('disabled', false);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // Log error in console and display message
                        console.log('AJAX Error:', textStatus, errorThrown);
                        scanningResult.text(`An error occurred: ${errorThrown} during the scan.`);

                        // Hide progress and show output section
                        progressSection.hide();
                        outputSection.show();
                        scanButton.prop('disabled', false);
                    }
                });
            });
        });
    </script>
{% endblock %}