{% include 'report/includes/report-name.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // select download button
        let downloadButton = $('#download-button');

        // select save report button
        let saveReportButton = $('#save-report-button');

        // get the passive tool name from backend
        let passiveToolName = `passive_recon_{{ passive_tool.name }}`;

        // generate report pdf file name
        let pdfReportFileName = generateReportName(passiveToolName)

        // handle for download button
        downloadButton.on('click', function() {
            let content = document.getElementById('scanning-result').innerText;

            let docDefinition = {
                content: [
                    { text: 'Passive Reconnaissance Scanning Result', style: 'header' },
                    { text: content, style: 'body' },
                ],
                styles: {
                    header: { fontSize: 18, bold: true, margin: [0, 0, 0, 10] },
                    body: { fontSize: 12, margin: [0, 0, 0, 10] },
                }
            };

            // Create and download the PDF
            pdfMake.createPdf(docDefinition).download(`${pdfReportFileName}`);
        });
        

        // generate pop-up
        let successPopUp = new Popup({
            id: `${pdfReportFileName}`,
            title: "Report Saved Successfully",
            content: `A file with name <strong>${pdfReportFileName}.pdf</strong> was generated successfully.`,
        });


        // handle save repport button
        saveReportButton.on('click', function() {
            let element = document.getElementById('scanning-result');
            let content = element.innerText;

            let docDefinition = {
                content: [
                    { text: 'Passive Reconnaissance Scanning Result', style: 'header' },
                    { text: content, style: 'body' },
                ],
                styles: {
                    header: { fontSize: 18, bold: true, margin: [0, 0, 0, 10] },
                    body: { fontSize: 12, margin: [0, 0, 0, 10] },
                },
                pageMargins: [15, 15, 15, 15] // Set margins
            };

            pdfMake.createPdf(docDefinition).getBlob(function(pdfBlob) {
                let formData = new FormData();
                formData.append('pdf', pdfBlob, `${pdfReportFileName}.pdf`);
                formData.append('csrfmiddlewaretoken', document.querySelector('input[name=csrfmiddlewaretoken]').value);

                $.ajax({
                    type: 'POST',
                    url: "{% url 'save-report' %}",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response, textStatus, jqXHR) {
                        if (jqXHR.status === 200) {
                            successPopUp.show();
                        } else {
                            alert('Error saving PDF file');
                        }
                    },
                    error: function(error) {
                        console.log('Error during saving report: ', error);
                        alert('An error occurred while saving the report. Please try again.');
                    }
                });
            });
        }); // end save button function

        $('#scan-form').on('submit', function(event) {
            event.preventDefault();

            // select result section
            let outputSection = $('#output-section');
            let scanningResult = $('#scanning-result');

            // hide output section
            outputSection.hide();

            // select scan button
            let scanButton = $('#scan-button');
            scanButton.prop('disabled', true);

            // select progress
            let progressSection = $('#progress-section');
            progressSection.show();

            let data = {
                'domain': $('#domain').val(),
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            };

            $.ajax({
                type: 'POST',
                url: "{% url 'passive-recon-tools' passive_tool.slug %}",
                data: data,
                success: function(response) {
                    if (response.error_message) {
                        scanningResult.text(response.error_message);
                    } else {
                        scanningResult.text(response.scanning_result);
                    }
                    
                    progressSection.hide();
                    outputSection.show();
                    scanButton.prop('disabled', false);
                },
                error: function(error) {
                    // log error in console
                    console.log('Error during scan: ', error);
                    scanningResult.text('An error occurred during the scan. Please try again.');

                    progressSection.hide();
                    outputSection.show();
                    scanButton.prop('disabled', false);
                }
            });
        }); // end function

        // handle filter input event
        $('#filter-input').on('input', function() {
            let filterText = $(this).val().toLowerCase();
            let scanningResult = $('#scanning-result').data('originalContent') || $('#scanning-result').text();
            
            if (!$('#scanning-result').data('originalContent')) {
                $('#scanning-result').data('originalContent', scanningResult);
            }
            
            let filteredResult = '';

            if (filterText) {
                let lines = scanningResult.split('\n');
                filteredResult = lines.filter(line => line.toLowerCase().includes(filterText)).join('\n');
            } else {
                filteredResult = scanningResult;
            }

            $('#scanning-result').text(filteredResult);
        });
    });
</script>