ul {
    list-style-type: none;
}

.pdf-page {
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
}

.modal-header {
    background-color: #007bff; /* Change to your preferred color */
    color: white;
}

.modal-body {
    background-color: #f8f9fa; /* Light gray background for better contrast */
}

.close {
    color: white;
    opacity: 1;
}

.view-link {
    color: #ff0077; /* Bootstrap primary color */
    font-weight: bold;
    text-decoration: none; /* Remove underline */
}

.view-link:hover {
    color: #ff0077; /* Darker shade for hover effect */
    text-decoration: underline; /* Underline on hover */
}

.btn-success {
    background-color: #28a745; /* Bootstrap success color */
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.download-link {
    margin-top: 10px;
    display: block;
}