{% extends 'main_app/base/base.html' %}
{% load static %}

{% block title %}Passive Recon Page{% endblock %}
{% block site_css %}
{% endblock %}

{% block main_heading %}
    Ethical Hacking Web Application
{% endblock %}

{% block body %}
    <!-- Passive Recon Section -->
    <div id="passive-recon">
        <h1>What is passive reconnaissance?</h1>
        <p>Passive reconnaissance is an attempt to gain information about targeted computers and networks without actively engaging with the systems. In active reconnaissance, in contrast, the attacker engages with the target system, typically conducting a port scan to find any open ports.</p>
        <p>The term reconnaissance comes from its military use to describe an information-gathering mission. In computing and networking, both passive and active reconnaissance are sometimes referred to as passive attacks because the purpose is simply to obtain information, rather than to actively exploit the target. However, reconnaissance is commonly used when preparing for an attack against a target system.</p>
    </div>
{% endblock %}

{% block script_js %}
{% endblock %}