{% extends 'main_app/base/base.html' %}
{% load static %}

{% block title %}Passive Recon Page{% endblock %}
{% block site_css %}
{% endblock %}

{% block main_heading %}
    Passive Recon
{% endblock %}

{% block body %}
    <!-- Passive Recon Section -->
    <div id="passive-recon">
        <h1>Passive Recon Something</h1>
        <p>Passive reconnaissance involves gathering information about the target without direct interaction.</p>
    </div>
{% endblock %}

{% block script_js %}
{% endblock %}